#IdeaJ
/.idea

# Cache and logs (Symfony2)
/syan-api/app/cache/*
/syan-api/app/logs/*
!syan-api/app/cache/.gitkeep
!syan-api/app/logs/.gitkeep

# Email spool folder
/syan-api/app/spool/*

# Cache, session files and logs (Symfony3)
/syan-api/var/cache/*
/syan-api/var/logs/*
/syan-api/var/sessions/*
!syan-api/var/cache/.gitkeep
!syan-api/var/logs/.gitkeep
!syan-api/var/sessions/.gitkeep

# Parameters
/syan-api/app/config/parameters.yml
/syan-api/app/config/parameters.ini

# Managed by Composer
/syan-api/app/bootstrap.php.cache
/syan-api/var/bootstrap.php.cache
/syan-api/bin/*
!syan-api/bin/console
!syan-api/bin/symfony_requirements
/syan-api/vendor/

# Assets and user uploads
/syan-api/web/bundles/
/syan-api/web/uploads/

# Assets managed by Bower
/syan-api/web/assets/vendor/

# PHPUnit
/syan-api/app/phpunit.xml
/syan-api/phpunit.xml

# Build data
/syan-api/build/

# Composer PHAR
/syan-api/composer.phar

# Backup entities generated with doctrine:generate:entities command
*/Entity/*~